.custom-row{
    font-size: 32px;
}

.expense-button{
    padding: auto;
    margin: auto;
    padding-left: 80px;
}

hr.dotted{
    border-top: 2px dotted blue;
    
    align-items: center;
    justify-content: center;
}

.form-group{
    padding-bottom: 20px;    
}

.register{
    text-align: center;
}

.custom-currency{
    font-size: 2em
}

.expense-row{
    border: 2px coral solid;
}

.expense-row > div {
  height: 100%;
  background: #f5f3f3;
  border-right: 1px dotted red;
  border-radius: 8px;
  text-align: center;
  display: table-row;
  font-family: 'Lucida Handwriting', cursive;
  color:firebrick;
  font-size: 80%;
}
